.App-header {
  display: flex;
  align-items: center;
  min-height: 110px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 3px solid #e1003c;
}

.App-header img {
  width: 130px;
  height: auto;
}

.App-header h1 {
  color: #e1003c;
  font-size: 28px;
  margin-left: 25px;
}